<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>
<body>
    <h1>{{table_name}}</h1>
    <table border='1'>
        <tr>
            <th>Name</th>
            <th>Roll no</th>
            <th>Address</th>
            <th>Phone no</th>
            <th>Date of Birth</th>


        </tr>
        {% for student in students %}
        <tr>
            <td>{{student.name}}</td>
            <td>{{student.roll_no}}</td>
            <td>{{student.address}}</td>
            <td>{{student.phone_no}}</td>
            <td>{{student.dob}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>